.orange{
    color: orange;
}
.nav{
    background-image: none !important;
    border: none !important;
}
.bgColor{
    background-color: #eee5df;
}
.clean{
    font-weight: 300;
}
page-dashboard {
 
}
