page-habito-data {

}
.orange{
    color: orange;
}
.nav{
    background-image: none !important;
    border: none !important;
}
.bgColor{
    background-color: #eee5df;
}
.clean{
    font-weight: 300;
}
.texto {
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
  padding: 0px 10px;
}

.titulo {
  font-size: 18px;
  color: orange;
  text-align: center;
  font-weight: 300;
  margin-bottom: 6vh;
}

.btn {
  font-size: 20px !important;
  font-weight: 300 !important;
  margin-top: 40px !important;
}

.sel {
  height: 50px;
  background-color: orange;
  color: #fff;
  border: none;
}

.first {
  margin-left: -16px;
}

.last {
  margin-right: -16px;
}

.select{
  font-size: 25px;
  font-weight: 300;
  width: 100% !important;
}
